<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ameyanaik.whatismyip" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>What is my IP</name>
    <description>
        Know your IP address. Check your internet connectivity.
    </description>
    <author email="ameya.n2007@gmail.com" href="http://www.ameyanaik.com">
        Ameya Naik
    </author>
    <content src="index.html" />
    <access origin="*" />
	<icon src="splash.png" />
    <preference name="SplashScreen" value="splash" />
  	<preference name="SplashScreenDelay" value="1000" />
    <feature name="InAppBrowser">
      <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>
</widget>

